<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Summative 4</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h3 class="mt-4">SUMMATIVE 4</h3>
            <div class="col-xl-12 col-lg-8 col-md-9 col-11 text-center mt-5">
                <form name="userform" th:action="@{/}" method="post" th:object="${user}">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Name</th>
                                <th scope="col" class="text-center">Last Name</th>
                                <th scope="col" class="text-center">Email</th>
                                <th scope="col" class="text-center">Birthdate</th>
                                <th scope="col" class="text-center">Department</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                <th:block th:each="i : ${#numbers.sequence(1,10)}">
                                    <tr>
                                        <form th:action="@{/}" method="post" th:object="${user}">
                                            <td><input id="name" type="text" class="text-input" th:field="*{name}">
                                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
                                            <td><input id="lastname" type="text" class="text-input" th:field="*{lastName}">
                                                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span></td></td>
                                            <td><input id="email" type="email" class="text-input" th:field="*{email}">
                                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td></td>
                                            <td><input id="birthdate" type="date" class="text-input" th:field="*{birthDate}"></td>
                                            <td><select id="department" class="custom-select" th:field="*{departmentId}">
                                                <option th:each="dep : ${departments}"
                                                        th:value="${dep.id}"
                                                        th:text="${dep.name}"/>
                                            </select></td>
                                            <td>
                                                <button input type="submit" class="btn btn-info col-10 mt-2 mb-2 text-center save-button" onclick="alertSign()">✔</button>
                                                <a th:href="@{'/' + ${user.id}}" class="btn btn-danger col-10 delBtn">X</a>
                                            </td>
                                        </form>
                                    </tr>
                                </th:block>
                        </tbody>
                    </table>
                    <button input type="submit" class="btn btn-primary mb-5" onclick="onSubmit()">Save</button>
                </form>
            </div>
        </div>
        <!-- Modal Delete -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="allert allert-danger">Apakah anda yakin ingin menghapus item ini?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="" class="btn btn-danger" id="delRef">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{jquery-3.6.0.min.js}"></script>
    <script th:src="@{form.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

</body>
</html>